a {
  text-decoration: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}
.logo {
  max-width: 16em;
}
.img-flag {
  width: 32px;
  height: auto;
}
/* .main-banner {
  height: calc(100vh - 400px);
} */
.bg-primary {
  background-color: #4b914b !important;
}
.obj-fit-cover {
  object-fit: cover;
}

.scalable img {
  transition: all ease-in-out 0.5s;
}
.scalable:hover img {
  transform: scale(1.08);
}
.btn-variant {
  width: 135px;
}
.btn-add-to-cart {
  transition: all ease-in-out 0.5s;
}
.btn-add-to-cart:hover {
  background-color: #202020 !important;
}
.opacity-100 {
  opacity: 100% !important;
}
.product-overlay-items {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all ease-in-out 0.5s;
}

.product-overlay-options {
  opacity: 0;
  width: 98%;
  bottom: -5em;
  transition: all ease-in-out 0.5s;
  left: 0;
  right: 0;
  margin: auto;
}
.card:hover .product-overlay-options {
  opacity: 1;
  bottom: 1px;
}
.card:hover .product-overlay-items {
  opacity: 1;
}
.z-index-1 {
  z-index: 99;
}
.z-index-2 {
  z-index: 999;
}
.overlay {
  /* background: rgb(0, 0, 0); */
  width: 100%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5690651260504201) 0%,
    rgba(0, 70, 84, 0.07326680672268904) 40%,
    rgba(0, 212, 255, 0) 100%
  );
}

.elevate-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}

.input-variation label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.input-variation label:hover span {
  transform: scale(1.25);
}
.input-variation label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.hoverable-item a {
  display: inline-block;
  line-height: 27px;
  position: relative;
}

.hoverable-item a:hover:after {
  width: 100%;
}
.hoverable-item a:after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #ff9801;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ff9801;
}

.suggestion-box {
  width: 100%;
}

.text-small {
  font-size: 0.8rem;
}

.large-dropdown {
  top: 45px !important;
  border-radius: 0px;
  width: 100%;
}

.hoverable-btn svg {
  fill: black;
  transition: fill 0.4s ease;
}
.hoverable-btn:hover svg {
  fill: orange;
}

.cart-dropdown-menu {
  width: 28em;
  max-height: 26em;
  left: -410px;
  overflow-y: auto;
}

.megamenu-item {
  height: 14em;
}
.line-h-12 {
  line-height: 12em;
}
.h-20 {
  height: 20em;
}
.h-12 {
  height: 12em;
}
.h-16 {
  height: 16em;
}
.h-22 {
  height: 22em;
}
.mx-h-25 {
  max-height: 25em;
}
.grid-container {
  height: 650px;
}

.color-swatch {
  width: 1.5rem;
  height: 1.5rem;
}

.grid-item1-h {
  height: 100%;
}

.seperator {
  background-color: #8dc21f;
  height: 2px;
  position: relative;
  width: 70px;
  display: block;
  margin: 10px auto 20px;
}

.elipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.thumbnail-carousel-slider .owl-prev,
.thumbnail-carousel-slider .owl-next {
  top: 40%;
}
.thumbnail-carousel-slider .item {
  max-height: 27em;
}
.carousel-thumbs .item {
  max-height: 5em;
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 60px !important;
  margin-left: 10px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  font-size: 60px !important;
  right: 10px !important;
  top: 0%;
  display: block !important;
  border: 0px solid black;
}

.owl-prev:hover,
.owl-next {
  background: #0000 !important;
}
.cursor-pointer {
  cursor: pointer;
}
#sync2 .synced .item {
  border: 2px solid #493eff;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }

  .has-megamenu:hover .megamenu,
  .hoverable-dropdown:hover .hoverable-dropdown-menu,
  .hoverable-dropdown:hover .cart-dropdown-menu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}

@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
  .featured-img {
    min-height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }
  .megamenu {
    background: #0e0e0e00;
  }
  .megamenu li {
    background: #0e0e0e00;
  }
  .megamenu li a {
    color: #fff !important;
  }
}
@media (max-width: 767px) {
  .grid-container {
    height: auto;
  }
  .card .h-12 {
    height: 18em;
  }
  .main-banner .caption .display-4 {
    font-size: calc(0.8rem + 2.7vw);
  }
  .grid-item1-h {
    height: 20em;
  }
  .card .h-20,
  .card .h-16 {
    height: 16em;
  }
}

@media only screen and (max-width: 600px) {
  .card .h-20,
  .card .h-16 {
    height: 14em;
  }
}

@media only screen and (max-width: 576px) {
  .card .h-12 {
    height: auto;
    max-height: 15em;
  }
  .card .h-20,
  .card .h-16 {
    height: 10em;
  }
}
